:root {
    --main-color: #C75146;
    --medium-color: #AD2E24;
    --light-color: #EA8C55;
    --dark-color: #540804;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    grid-template: 1fr 8fr / 1fr 6fr;
}

.header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding-left: 200px;
    font-size: 32px;
    color: white;
}

.menu {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    color: white;
    min-width: 300px;
    font-size: 2vw;
}

button {
    font-size: 2vw;
    background-color: #EA8C55;
    border: 0;
    border-radius: 5px;
    padding: 4px;
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
}

a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.gameboard-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--medium-color);
    display: grid;
    grid-template: 1fr 4fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.player-names {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    font-size: 2.5vw;
    color: white;
}

.player-names .change-name {
    font-size: .75vw;
    padding-left: 5vw;
    padding-top: 5px;
}

.gameboard {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border: 3px solid black;
    background-color: var(--light-color);
    width: 30vw;
    height: 30vw;
}

.grid-square {
    min-width: 75px;
    min-height: 75px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 1px 6px 3px rgba(0, 0, 0, 0.411);
}


